header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 0 1rem;
}

header nav a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: white;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: header;
}

header section,
header nav ul {
    display: flex;
    align-content: space-between;
    flex-wrap: flex;
    list-style-type: none;
}

header h1 {
    text-align: center;
    flex-grow: 4;
}
