body {
    background-image: url('../assets/fish-poster.jpg');
    background-size: cover;
    min-height: 80vw;
}

main {
    padding: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2)
}
